<div class="row mt-6">
    <div class="col-md-6 m-auto">
      <div class="container  mx-auto mt-5">
        <h1 class="text-center text-bg-success">Farmers Management System</h1>
      </div>
      <hr>
      <div class="card card-body text-center my-4">
        <h1><i class="fa fa-lock fa-3x"></i></h1>
        <p>Create an Account or Login</p>
        <a href="users/register" class="btn btn-primary btn-success mb-2"
          >Register</a>
        <a href="users/login" class="btn btn-secondary btn-info">Login</a>
      </div>
    </div>
  </div>